.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 10px;
  font-family: "CircularStd-Light";
  margin-bottom: 1.3em;
}