.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  height: auto;
  margin: 0;
}

.description-container {
  z-index: 100;
  overflow: hidden;
  position: fixed;
  bottom: 10em;
  left: 10em;
}

.mixtape-container {
  z-index: 100;
  overflow: hidden;
  position: fixed;
  bottom: 20em;
  left: 10em;
}

.mixtape {
  width: 20em;
  height: 10em;
}